- Kaggle Competition

In [2]:
import pandas as pd
import numpy as np
%matplotlib inline

In [3]:
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv("weatherAUS.csv")

In [7]:
df.shape

(145460, 23)

In [8]:
df.columns.tolist()

['Date',
 'Location',
 'MinTemp',
 'MaxTemp',
 'Rainfall',
 'Evaporation',
 'Sunshine',
 'WindGustDir',
 'WindGustSpeed',
 'WindDir9am',
 'WindDir3pm',
 'WindSpeed9am',
 'WindSpeed3pm',
 'Humidity9am',
 'Humidity3pm',
 'Pressure9am',
 'Pressure3pm',
 'Cloud9am',
 'Cloud3pm',
 'Temp9am',
 'Temp3pm',
 'RainToday',
 'RainTomorrow']

In [12]:
df.describe()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm
count,143975.000000,144199.000000,142199.000000,82670.000000,75625.000000,135197.000000,143693.000000,142398.000000,142806.000000,140953.000000,130395.00000,130432.000000,89572.000000,86102.000000,143693.000000,141851.00000
mean,12.194034,23.221348,2.360918,5.468232,7.611178,40.035230,14.043426,18.662657,68.880831,51.539116,1017.64994,1015.255889,4.447461,4.509930,16.990631,21.68339
std,6.398495,7.119049,8.478060,4.193704,3.785483,13.607062,8.915375,8.809800,19.029164,20.795902,7.10653,7.037414,2.887159,2.720357,6.488753,6.93665
min,-8.500000,-4.800000,0.000000,0.000000,0.000000,6.000000,0.000000,0.000000,0.000000,0.000000,980.50000,977.100000,0.000000,0.000000,-7.200000,-5.40000
25%,7.600000,17.900000,0.000000,2.600000,4.800000,31.000000,7.000000,13.000000,57.000000,37.000000,1012.90000,1010.400000,1.000000,2.000000,12.300000,16.60000
50%,12.000000,22.600000,0.000000,4.800000,8.400000,39.000000,13.000000,19.000000,70.000000,52.000000,1017.60000,1015.200000,5.000000,5.000000,16.700000,21.10000
75%,16.900000,28.200000,0.800000,7.400000,10.600000,48.000000,19.000000,24.000000,83.000000,66.000000,1022.40000,1020.000000,7.000000,7.000000,21.600000,26.40000
max,33.900000,48.100000,371.000000,145.000000,14.500000,135.000000,130.000000,87.000000,100.000000,100.000000,1041.00000,1039.600000,9.000000,9.000000,40.200000,46.70000

In [14]:
df.tail(30)

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
145430,2017-05-27,Uluru,9.3,28.0,0.0,NaN,NaN,W,28.0,SSW,...,36.0,16.0,1019.9,1016.9,NaN,NaN,16.6,27.3,No,No
145431,2017-05-28,Uluru,8.0,24.6,0.0,NaN,NaN,E,33.0,SE,...,46.0,25.0,1021.7,1018.8,4.0,NaN,13.8,23.5,No,No
145432,2017-05-29,Uluru,12.7,22.2,0.0,NaN,NaN,E,37.0,E,...,59.0,34.0,1024.3,1021.7,8.0,8.0,13.9,21.0,No,No
145433,2017-05-30,Uluru,9.4,22.7,0.0,NaN,NaN,E,35.0,SE,...,62.0,32.0,1026.6,1023.6,8.0,4.0,11.8,22.3,No,No
145434,2017-05-31,Uluru,5.4,20.5,0.0,NaN,NaN,E,46.0,E,...,56.0,32.0,1029.2,1025.3,NaN,NaN,11.1,20.2,No,No
145435,2017-06-01,Uluru,5.6,19.4,0.0,NaN,NaN,E,43.0,E,...,61.0,22.0,1029.6,1027.1,NaN,NaN,9.7,18.3,No,No
145436,2017-06-02,Uluru,1.5,19.2,0.0,NaN,NaN,E,37.0,ESE,...,45.0,18.0,1030.7,1026.7,NaN,NaN,6.8,17.6,No,No
145437,2017-06-03,Uluru,3.8,19.8,0.0,NaN,NaN,ENE,39.0,ESE,...,42.0,22.0,1028.7,1024.1,NaN,NaN,8.6,18.9,No,No
145438,2017-06-04,Uluru,4.5,18.8,0.0,NaN,NaN,E,31.0,ESE,...,42.0,26.0,1026.9,1022.4,NaN,NaN,9.5,18.6,No,No
145439,2017-06-05,Uluru,4.9,20.7,0.0,NaN,NaN,E,37.0,ESE,...,38.0,11.0,1027.1,1023.9,NaN,NaN,10.3,19.8,No,No
145440,2017-06-06,Uluru,1.2,20.8,0.0,NaN,NaN,E,43.0,ESE,...,29.0,6.0,1029.8,1025.9,NaN,NaN,7.9,19.9,No,No
145441,2017-06-07,Uluru,0.5,21.7,0.0,NaN,NaN,E,43.0,ESE,...,27.0,19.0,1029.0,1025.0,NaN,NaN,9.5,20.5,No,No
145442,2017-06-08,Uluru,4.0,20.0,0.0,NaN,NaN,SE,39.0,ESE,...,58.0,26.0,1030.2,1026.7,NaN,NaN,9.1,19.0,No,No
145443,2017-06-09,Uluru,3.4,19.8,0.0,NaN,NaN,E,43.0,ESE,...,54.0,23.0,1031.8,1027.7,NaN,NaN,8.7,18.9,No,No
145444,2017-06-10,Uluru,3.2,18.6,0.0,NaN,NaN,E,46.0,ESE,...,56.0,29.0,1031.0,1027.2,NaN,NaN,8.2,17.4,No,No
145445,2017-06-11,Uluru,2.4,19.1,0.0,NaN,NaN,E,33.0,SE,...,59.0,24.0,1030.0,1026.2,NaN,NaN,8.0,18.8,No,No
145446,2017-06-12,Uluru,5.1,19.7,0.0,NaN,NaN,E,46.0,ESE,...,56.0,29.0,1028.5,1025.8,NaN,NaN,8.5,19.2,No,No
145447,2017-06-13,Uluru,2.5,21.2,0.0,NaN,NaN,ENE,35.0,ESE,...,57.0,32.0,1027.2,1023.0,NaN,NaN,10.3,20.3,No,No
145448,2017-06-14,Uluru,2.3,21.4,0.0,NaN,NaN,SE,22.0,SE,...,60.0,28.0,1026.9,1022.8,NaN,NaN,8.9,20.3,No,No
145449,2017-06-15,Uluru,2.6,22.5,0.0,NaN,NaN,S,19.0,S,...,59.0,24.0,1025.0,1021.4,NaN,NaN,8.8,22.1,No,No
145450,2017-06-16,Uluru,5.2,24.3,0.0,NaN,NaN,E,24.0,SE,...,53.0,24.0,1023.8,1020.0,NaN,NaN,12.3,23.3,No,No
145451,2017-06-17,Uluru,6.4,23.4,0.0,NaN,NaN,ESE,31.0,S,...,53.0,25.0,1025.8,1023.0,NaN,NaN,11.2,23.1,No,No
145452,2017-06-18,Uluru,8.0,20.7,0.0,NaN,NaN,ESE,41.0,SE,...,56.0,32.0,1028.1,1024.3,NaN,7.0,11.6,20.0,No,No
145453,2017-06-19,Uluru,7.4,20.6,0.0,NaN,NaN,E,35.0,ESE,...,63.0,33.0,1027.2,1023.3,NaN,NaN,11.0,20.3,No,No
145454,2017-06-20,Uluru,3.5,21.8,0.0,NaN,NaN,E,31.0,ESE,...,59.0,27.0,1024.7,1021.2,NaN,NaN,9.4,20.9,No,No
145455,2017-06-21,Uluru,2.8,23.4,0.0,NaN,NaN,E,31.0,SE,...,51.0,24.0,1024.6,1020.3,NaN,NaN,10.1,22.4,No,No
145456,2017-06-22,Uluru,3.6,25.3,0.0,NaN,NaN,NNW,22.0,SE,...,56.0,21.0,1023.5,1019.1,NaN,NaN,10.9,24.5,No,No
145457,2017-06-23,Uluru,5.4,26.9,0.0,NaN,NaN,N,37.0,SE,...,53.0,24.0,1021.0,1016.8,NaN,NaN,12.5,26.1,No,No
145458,2017-06-24,Uluru,7.8,27.0,0.0,NaN,NaN,SE,28.0,SSE,...,51.0,24.0,1019.4,1016.5,3.0,2.0,15.1,26.0,No,No
145459,2017-06-25,Uluru,14.9,NaN,0.0,NaN,NaN,NaN,NaN,ESE,...,62.0,36.0,1020.2,1017.9,8.0,8.0,15.0,20.9,No,NaN

In [16]:
df['Evaporation'].isnull()

0         True
1         True
2         True
3         True
4         True
          ...
145455    True
145456    True
145457    True
145458    True
145459    True
Name: Evaporation, Length: 145460, dtype: bool

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145460 entries, 0 to 145459
Data columns (total 23 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Date           145460 non-null  object
 1   Location       145460 non-null  object
 2   MinTemp        143975 non-null  float64
 3   MaxTemp        144199 non-null  float64
 4   Rainfall       142199 non-null  float64
 5   Evaporation    82670 non-null   float64
 6   Sunshine       75625 non-null   float64
 7   WindGustDir    135134 non-null  object
 8   WindGustSpeed  135197 non-null  float64
 9   WindDir9am     134894 non-null  object
 10  WindDir3pm     141232 non-null  object
 11  WindSpeed9am   143693 non-null  float64
 12  WindSpeed3pm   142398 non-null  float64
 13  Humidity9am    142806 non-null  float64
 14  Humidity3pm    140953 non-null  float64
 15  Pressure9am    130395 non-null  float64
 16  Pressure3pm    130432 non-null  float64
 17  Cloud9am       89572 non-null   float64
 18  Cloud3pm       86102 non-null   float64
 19  Temp9am        143693 non-null  float64
 20  Temp3pm        141851 non-null  float64
 21  RainToday      142199 non-null  object
 22  RainTomorrow   142193 non-null  object
dtypes: float64(16), object(7)
memory usage: 25.5+ MB

In [10]:
zeros_cnt = df.isnull().sum().sort_values(ascending=False)
percent_zeros = (df.isnull().sum() / df.isnull().count()).sort_values(ascending=False)

missing_data = pd.concat([zeros_cnt, percent_zeros], axis=1, keys=['Total', 'Percent'])
missing_data

In [21]:
zero_count = df.isnull().sum().sort_values(ascending=False)

In [23]:
df.isnull().sum().sort_values(ascending=False)
zero_patio = (df.isnull().sum() / df.isnull().count()).sort_values(ascending=False)


missing_data = pd.concat([zero_count , zero_patio],axis=1 , keys=['Total',"%pct"])

In [27]:
missing_data

               Total      %pct
Sunshine       69835  0.480098
Evaporation    62790  0.431665
Cloud3pm       59358  0.408071
Cloud9am       55888  0.384216
Pressure9am    15065  0.103568
Pressure3pm    15028  0.103314
WindDir9am     10566  0.072639
WindGustDir    10326  0.070989
WindGustSpeed  10263  0.070555
Humidity3pm     4507  0.030984
WindDir3pm      4228  0.029066
Temp3pm         3609  0.024811
RainTomorrow    3267  0.022460
RainToday       3261  0.022419
Rainfall        3261  0.022419
WindSpeed3pm    3062  0.021050
Humidity9am     2654  0.018246
WindSpeed9am    1767  0.012148
Temp9am         1767  0.012148
MinTemp         1485  0.010209
MaxTemp         1261  0.008669
Location           0  0.000000
Date               0  0.000000

# drop columns that has too much missing values

In [ ]:
dropList = list(missing_data[missing_data['Percent'] > 0.15].index)

In [32]:
list(missing_data[missing_data['%pct']>0.15].index)

['Sunshine', 'Evaporation', 'Cloud3pm', 'Cloud9am']

In [36]:
missing_data[missing_data['%pct']>0.15].index

Index(['Sunshine', 'Evaporation', 'Cloud3pm', 'Cloud9am'], dtype='object')